<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Fórum</title>
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="logo">
                <i class="fa fa-stack-overflow"></i>
            </div>
            <div class="search">
                <form onsubmit="event.preventDefault();" role="search">
                    <input id="search" type="text" placeholder="Buscar novos posts" autofocus required />
                    <button type="submit"><i class="fa fa-search"></i></button>    
                </form>
            </div>
            <div class="navigation">
                <div class="nav-buttons" ng-hide="loggedUser">
                    <div class="button-item login-button">
                        <button ng-click="login()" class="default-button">
                            <i class="fa fa-user"></i>
                            Entrar
                        </button>
                    </div>
                    <div class="button-item register-button">
                        <button ng-click="cadastro()" class="default-button">
                            <i class="fa fa-user-plus"></i>
                            Registre-se
                        </button>
                    </div>
                </div>
                <div class="nav-user" ng-hide="!loggedUser">
                    <div class="button-item register-button">
                        <button ng-click="meuPerfil()" class="default-button">
                            <i class="fa fa-user"></i>
                            Meu Perfil
                        </button>
                    </div>
                    <div class="button-item register-button">
                        <button ng-click="logout()" class="default-button">
                            <i class="fa fa-sign-out" ng-click=""></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info-1">
                <p>Contribua para o cenário de desenvolvimento</p>
                <img src="/public/assets/img/contribua.svg" width="100" height="100" alt="">
            </div>
            <div class="info-2">
                <p>Encontre as melhores soluções para os seus problemas</p>
                <img src="/public/assets/img/encontre.svg" width="100" height="100" alt="">
            </div>
            <div class="info-1">
                <p>Cresca com a comunidade de sua linguagem preferida</p>
                <img src="/public/assets/img/construa.svg" width="100" height="100" alt="">
            </div>
        </div>
        <div class="content">

            <div class="menu">
                <ul>
                    <li ng-repeat="item in menu"><a href="#{{item.link}}">{{item.text}}</a></li>
                </ul>   
            </div>
            
            <div class="posts">
                <div class="inicial" id="inicial">
                    <h1>Em alta</h1>
                    <div class="inicial-posts" ng-repeat="post in publicacoes" ng-click="openPost(post)" ng-if="post.active == 0">
                        <div class="post-title">
                            <h1>{{post.title}}</h1>
                        </div>
                        <div class="post-info">
                            <div class="votes">
                                <h2>{{post.upvotes / post.downvotes}}</h2>
                                <p>Rating</p>
                            </div>
                            <div class="post-replys">
                                <h2>5</h2>
                                <p>Respostas</p>
                            </div>
                            <div class="post-tag" ng-if="post.tag">
                                <p>{{post.tag}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="perguntas" id="perguntas" ng-repeat="post in publicacoes" ng-click="openPost(post)" ng-if="post.active && isAuthor()">
                    <h1>Perguntas</h1>
                </div>

                <div class="tags" id="tags" ng-repeat="post in publicacoes" ng-click="openPost(post)">
                    <h1>{{ post.tag }}</h1>
                </div>

                <div class="usuarios" id="usuarios">
                    <h1>Usuários</h1>
                </div>

                <div class="sem-respostas" id="semRespostas">
                    <h1>Sem Respostas</h1>
                </div>

                <script>
                $(document).ready(function(){

                    $('#perguntas, #tags, #usuarios, #semRespostas').hide();

                    $("a").click(function(event) {
                        event.preventDefault();
                        var href = $(this).attr('href');
                        $('#inicial, #perguntas, #tags, #usuarios, #semRespostas').hide();
                        $(href).show();
                    });

                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>